body {
	background-color: rgb(100, 100, 100);
}

#stop {
	width: auto;
	height: 300px;
}

#403, #404, #accessDenied, #noPermission, #pageNotFound {
	color: white;
}

#403, #404 {
	font-size: 150px;
	margin-top: 30px;
}

#accessDenied, #pageNotFound {
	font-size: 15px;
	margin-top: 10px;
}

#noPermission {
	font-size: 10px;
	margin-top: 10px;
}
